{% extends "base.html" %}
{% block content %}

    <!-- Hero image section -->
    <!-- Background image container -->
    <div class="home-image">
        <!-- Text on hero image -->
        <div>
            <h1 class="center-align">Iacopo recipes</h1>
            <div class="divider"></div>
            <p class="center-align">Get new ideas or traditional qucik recipes</p>
        </div>
    </div>

    <!-- Homepage info section -->
    <div class="container home-info">
        <div class="row">
            <!-- Introduction section for the site -->
            <div class="col s12">
                <h5 class="center-align page-header">Recipes</h5>
                <div class="divider"></div>
                <p class="center-align home-text">This website is to share genuine and traditional recipes</p>
                <!-- Button link to recipes.html -->
                <div class="center-align">
                    <a href="{{ url_for('get_recipes') }}" class="btn-small btn red darken-4">Recipes</a>
                </div>
            </div>
            <!-- registering section-->
            <div class="col s12">
                <h5 class="center-align page-header">Registered?</h5>
                <div class="divider"></div>
                <p class="center-align home-text">Register to add new recipes</p>
                <!-- Button link to register.html -->
                <div class="center-align">
                    <a href="{{ url_for('register') }}" class="btn-small btn red darken-4">Register</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}